%h1 Listing photos
%br
= link_to 'New Photo', new_photo_path,class: 'btn btn-primary'
= link_to 'New center Photo', center_new_photo_path,class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th Image
      %th Total
      %th White count
      %th Black count

      %th

  %tbody
    - @photos.each do |photo|
      %tr
        %td=  (display_image photo.image,3)
        %td= photo.total_pixels
        %td= photo.white_count
        %td= photo.black_count
        %td
          .btn-group
            = link_to 'Show', photo,class: 'btn btn-primary'
            = link_to 'Edit', edit_photo_path(photo),class: 'btn btn-warning'
            = link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' },class: 'btn btn-danger'


