%h1 Listing photos

%table.table
  %thead
    %tr
      %th Image
      %th X center mass
      %th Y center mass
      %th White count
      %th Black count
      %th Momentos centrales
      %th Momentos invariantes
      %th
      %th
      %th

  %tbody
    - @photos.each do |photo|
      %tr
        %td=  (display_text_with_format photo.image).html_safe
        %td= photo.x_center_mass
        %td= photo.y_center_mass
        %td= photo.white_count
        %td= photo.black_count
        %td= photo.calculate_central_moments
        %td= photo.calculate_invariant_moments
        %td= link_to 'Show', photo
        %td= link_to 'Edit', edit_photo_path(photo)
        %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_photo_path
