%p
  .div
    %ul.nav.nav-tabs{:role => 'tablist'}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "image", "data-toggle" => "tab", :href => "#image", :role => "tab"} Imagen
      %li{:role => "presentation"}
        %a{"aria-controls" => "txt", "data-toggle" => "tab", :href => "#txt", :role => "tab"} Imagen en texto
    .tab-content
      #image.tab-pane.fade.in.active{:role => "tabpanel"}
        = (display_image @photo.image,5,@photo.x_center_mass,@photo.y_center_mass)
      #txt.tab-pane.fade.in{:role => "tabpanel"}
        -#= display_text_with_format( @photo.image).html_safe
  %br

.div
  %ul.nav.nav-tabs{:role => 'tablist'}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "moments", "data-toggle" => "tab", :href => "#moments", :role => "tab"} Momentos
    %li{:role => "presentation"}
      %a{'aria-controls' => "distance", "data-toggle" => "tab", :href => "#distance", :role => "tab"} Distancia
    %li{:role => "presentation"}
      %a{'aria-controls' => 'topology', 'data-toggle' => "tab", :href => "#topology", :role => "tab"} Topología
    %li{:role => "presentation",id: 'a'}
      %a{'aria-controls' => "perimeter", "data-toggle" => "tab", :href => "#perimeter", :role => "tab"} Perímetro
    %li{:role => "presentation"}
      = link_to " Codigo caedas",photo_strings_path(@photo,id: @photo.id),remote: true
      %a{'aria-controls' => "chain", "data-toggle" => "tab", :href => "#chain", :role => "tab",id: 'cadena'}
  .tab-content
    #chain.tab-pane.fade.in{:role => "tabpanel"}
    #moments.tab-pane.fade.in.active{:role => "tabpanel"}
      %p
        %b 'X' centro de masa:
        = @photo.x_center_mass
      %p
        %b 'Y' centro de masa:
        = @photo.y_center_mass

      %p
        %b Primer momento:
        = @photo.first_moment_HU
      %p
        %b Segundo momento:
        = @photo.second_moment_HU
      %p
        %b Tercer momento:
        = @photo.third_moment_HU
      %p
        %b Momentos centrales:
        = @photo.central_moments
      %p
        %b Momentos invariantes:
        =@photo.invariant_moments
    #distance.tab-pane.fade.in{:role => "tabpanel"}
      %p
        %b Pixeles blancos:
        = @photo.white_count
      %p
        %b Pixeles negros:
        = @photo.black_count
      %p
        %b Número total:
        = @photo.total_pixels
    #topology.tab-pane.fade.in{:role => "tabpanel"}
      %p
        %b Perímetro:
        = @photo.perimeter
      %p
        %b Tetrapixel:
        = @photo.tetrapixel
      %p
        %b Esquinas:
        = @photo.get_edges
      %p
        %b Vértices:
        = @photo.get_vertex
      %p
        %b Perímetro de contacto:
        = @photo.get_contact_perimeter
        %p
          %b Agujeros:
          = @photo.get_holes
        %p
          %b Euler:
          = @photo.get_euler
    #perimeter.tab-pane.fade.in{:role => "tabpanel"}

      %p
        %b Perimetro (Pares de puntos que conforman el perímetro):
        %br
        = @photo.sorted_perimeter


= link_to 'Editar', edit_photo_path(@photo),class: 'btn btn-warning'
= link_to 'Atrás', photos_path,class: 'btn btn-default'
